autopep8
beautifulsoup4
celery
cherrypy
cloud
colorama
cookiecutter
csvkit
decorator
django
django-redis
dpath
elixir
faulthandler
flower
fred==2.5
functools32
gensim
ggplot
guppy
hy
hypothesis
igraph
ipdb
joblib
jsonpath-rw
jsonpickle
lazy
line_profiler
lockfile
mako
markdown
mechanize
memory_profiler
mock
mpi4py
mpld3
nltk
nose
numpydoc
objgraph
patsy
pattern
pdfminer
pp
prettytable
psutil
Pweave
pyaml
PyBrain
pycallgraph
pycassa
pylint
pymongo
pympler
pyodbc
pystan
python-Levenshtein
python-memcached
pyxb
pyzmq
radon
RDFAlchemy
rdflib
redis
requests
roman
rope
rpy2
rst2pdf
runsnakerun
seaborn
sh
sklearn_pandas
SPARQLWrapper
sphinx
sqlsoup
statsmodels>=0.5
suds
tox
vincent
virtualenv
wadllib
wheel
xdot
yolk
